# useState Hook
snippet uses useState
	const [${1:state}, set${2}] = useState(${3:initialState});

# Functional Component without props
snippet fcwp Functional Component without props
	const ${TM_FILENAME_BASE} = () => {
		$1
	}

	export default ${TM_FILENAME_BASE}
